name: Trigger auto deployment for convomail

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/convomail-AutoDeployTrigger-a1ec64d6-845e-465a-aae1-3d33b4afbb4b.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CONVOMAIL_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CONVOMAIL_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CONVOMAIL_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ajaycr.azurecr.io
          registryUsername: ${{ secrets.CONVOMAIL_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CONVOMAIL_REGISTRY_PASSWORD }}
          containerAppName: convomail
          resourceGroup: demo_rag
          imageToBuild: ajaycr.azurecr.io/convomail:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


